
body {
  font-family: 'Arial', sans-serif;
  direction: rtl;
  background: #121212;
  color: white;
  text-align: center;
  margin: 0;
}
header {
  background: #1f1f1f;
  padding: 20px;
  font-size: 24px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.episode-card {
  background-color: #222;
  margin: 30px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}
.episode-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #e50914;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.episode-card a:hover {
  background: #b00610;
}
